/* Tag Level Overrides */

body {
color:#985;

background-color: #421;
}

p {
color:#985;

}

a, a:visited, #side-bar a:visited {	color: #888 }

blockquote {
	border: 1px dashed #985;
	background-color: #421;
}

hr { background-color: #985; }

select {
	color:#985;
	
	background-color: #421;
	border: 1px solid #985;
}

input {
	color:#985;
	
	background-color: #421;
	border: 1px solid #985;
}

/* ID Level Overrides */

#login-status {
	color: #985;
}

#login-status a {
	color: #888;
}

#login-status ul a {
	color: #888;
}

#account-options {
	background-color: #421;
	border: 1px solid #985;
}

#account-options li a:hover {
	color: #888;
}

#side-bar p {
color:#985;
}

div#container-wrap {
background-color:#421 !important;
background: url()
}

#header h1 a {
	color: #985;
	
}
	
#header h2 span {
	color: #985;
	
}

#search-top-box-input {
	background-color: #421;
	border: solid 1px #985;
	
}

#search-top-box-input:hover,
#search-top-box-input:focus {
	border: solid 1px #985;
	color: #985;
	background-color: #421;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.8);
	
}

#search-top-box-form input[type=submit] {
	border: solid 1px #985;
	color: #888;
	background-color: #985;
	background: none;
	
}

#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
	border: solid 1px #985;
	color: #985;
	text-shadow: 0 0 1px rgba(255,255,255,.25);
	background-color: #888;
	background: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.8);
}
#top-bar a {
	color: #888;
}

#top-bar ul li.sfhover a, #top-bar ul li:hover a {
	background: #421;
	color: #985;
	border: 0;
}

#top-bar ul li.sfhover ul li a,
#top-bar ul li:hover ul li a {
	border-top: 0;
}

#top-bar ul li.sfhover a:hover,
#top-bar ul li:hover a:hover {
	background: #421;
	color: #888;
	text-decoration: none;
}

#side-bar .side-block {
	background: #421 !important;
	border: 1px solid #985;
}

#side-bar .heading {
	border-bottom: solid 1px #985;
}

#side-bar div.menu-item .sub-text {
	color: #985;
}

/* Replacing images. This could break. Don't try it at home. */
#side-bar div.menu-item img[src*="http://scp-wiki.wdfiles.com/local--files/nav%3Aside/home.png"] {
	background-image: url("http://www.scp-wiki.net/local--files/component:s-css-p/colors-matrix-home.png");
	width: 13px;
	
	display:inline-block;
    padding: 13px 0 0 0;
    height: 0px !important;

    /* for IE 5.5's bad box model */
    height /**/:13px;
}

#side-bar div.menu-item img[src*="http://scp-wiki.wdfiles.com/local--files/nav%3Aside/default.png"] {
	background-image: url("http://www.scp-wiki.net/local--files/component:s-css-p/colors-matrix-default.png");
	width: 13px;
	
	display:inline-block;
    padding: 13px 0 0 0;
    height: 0px !important;

    /* for IE 5.5's bad box model */
    height /**/:13px;
}

#side-bar div.menu-item img[src*="http://scp-wiki.wdfiles.com/local--files/nav%3Aside/forum.png"] {
	background-image: url("http://www.scp-wiki.net/local--files/component:s-css-p/colors-matrix-forum.png");
	width: 13px;
	
	display:inline-block;
    padding: 13px 0 0 0;
    height: 0px !important;

    /* for IE 5.5's bad box model */
    height /**/:13px;
}

#side-bar div.menu-item img[src*="http://scp-wiki.wdfiles.com/local--files/nav%3Aside/help.png"] {
	background-image: url("http://www.scp-wiki.net/local--files/component:s-css-p/colors-matrix-help.png");
	width: 13px;
	
	display:inline-block;
    padding: 13px 0 0 0;
    height: 0px !important;

    /* for IE 5.5's bad box model */
    height /**/:13px;
}

#side-bar div.menu-item img[src*="http://scp-wiki.wdfiles.com/local--files/nav%3Aside/main.png"] {
	background-image: url("http://www.scp-wiki.net/local--files/component:s-css-p/colors-matrix-main.png");
	width: 13px;
	
	display:inline-block;
    padding: 13px 0 0 0;
    height: 0px !important;

    /* for IE 5.5's bad box model */
    height /**/:13px;
}

#side-bar div.menu-item img[src*="http://scp-wiki.wdfiles.com/local--files/nav%3Aside/series.png"] {
	background-image: url("http://www.scp-wiki.net/local--files/component:s-css-p/colors-matrix-series.png");
	width: 13px;
	
	display:inline-block;
    padding: 13px 0 0 0;
    height: 0px !important;

    /* for IE 5.5's bad box model */
    height /**/:13px;
}

h1, #page-title {
	color: #985;
}

#page-title {
	border-bottom: 1px solid #985;
}

#toc {
	background-color: #421;
	border: 1px dashed #985;
}

#footer {
	background: #421;
	color: #985;
}

#footer a { color: #888; }

#license-area { color: #985; }

/* Class Level Overrides */

.scp-image-block {
	border: solid 1px #985;
}

.scp-image-block .scp-image-caption {
	background-color: #421;
	border-top: solid 1px #985;
}

.content-panel {
	background-color: #421;
	box-shadow: none;
	border: solid 1px #985;
}

.content-panel .content-type-title {
	background-color: #421;
	box-shadow: none;
	
}

.content-panel.standalone {
	background-color: #421;
}

.content-panel .content-toc {
	background-color: #421;
	border: solid 1px #985;
}

.content-panel .panel-body {
	background: none;
}

.content-panel .panel-footer a {
	color: #888;
}

.pager .current {
	background-color: #421;
	color: #985;
	border: 1px solid #985;
}

.pager a {
	border: 1px solid #888;
}

.page-tags span { border-top: 1px solid #985; }

table.wiki-content-table th {
	background-color: #421;
	border: 1px solid #985;
}

table.wiki-content-table td {
	border: 1px solid #985;
}

/* Interwiki IFrame */

/* Interwiki IFrame */

iframe.scpnet-interwiki-frame {
	height: 300px;
}

.international-entry:nth-child(even), .alternate:nth-child(even) {
	background-color: transparent;
	border-top: solid 1px #985;
	border-bottom: solid 1px #985;
}

.interwiki {
	border: 1px solid #985;
	background: transparent;
	box-shadow: none;
	padding: 2px 0;
	width: auto;
}

.interwiki__title {
	color: #985;
	border-bottom: solid 1px #985;
}

.interwiki__entry a {
	color: #888;
}

.interwiki__entry:before {
	color: #985;
}

/* Heritage Collection */

.heritage-rating-module {
	background-color: #421;
}

/* Rating block */

.page-rate-widget-box .rate-points {
	background-color: #421 !important;
	border: solid 1px #985;
	color: #985;
}

.page-rate-widget-box .rateup, .page-rate-widget-box .ratedown, .page-rate-widget-box .cancel {
    background-color: #421;
    border: solid 1px #985;
    font-weight: bold;
}

.page-rate-widget-box .rateup a, .page-rate-widget-box .ratedown a, .page-rate-widget-box .cancel a {
    color: #985;
}

.page-rate-widget-box .rateup a:hover,
.page-rate-widget-box .ratedown a:hover,
.page-rate-widget-box .cancel a:hover {
	background: #421;
	color: #888;
	text-decoration: underline;
}

/* YUI Overrides */

.yui-navset .yui-nav {
	border-color: #985;
}

.yui-navset .yui-nav a, .yui-navset .yui-navset-top .yui-nav a {
	background-color: #421;
	color: #888;
	border: 1px solid #888;
	border-bottom: 0;
	background-image: url();
}

.yui-navset .yui-nav a:hover, .yui-navset .yui-nav a:focus {
    background: #421 url();
    text-decoration: none;
	
}

.yui-navset .yui-content {
	background-color: #421;
	border: 1px solid #985;
}

.yui-navset .yui-nav .selected a, 
.yui-navset .yui-nav .selected a:focus, 
.yui-navset .yui-nav .selected a:hover, 
.yui-navset .yui-nav .selected a em{
    background: #421;
    color: #985;
	border-color: #985;
}

/* Recent Pages & Posts */

.thread-container .post {
	padding: 10px;
	border: solid 1px #985;
	margin: 3px 0;
}

.thread-container .post .head {
	background: none;
	background-color: #421;
	box-shadow: none;
	border-bottom: dashed 1px #985;
}

/* Forum stuff */

.forum-group table {
	border-collapse: collapse;
	border-spacing: 0;
}

.forum-group table tr.head td {
	background-color: #421;
}

.forum-group table td {
	border: 1px solid #985;
}

.forum-category-box .description-block {
	border: 1px dashed #985;
	background-color: #421;
}

.forum-category-box .description-block .statistics {
	color: #985;
}

.forum-group div.head {
	background-color: #421;
	color: #985;
	border: 1px solid #985;
}

div.new-post a {
	background-color: #421;
	border: 1px solid #985;
}

.forum-category-box table {
	border-collapse: collapse;
	border: solid 1px #985;
}

.forum-category-box table tr.head td {
	background-color: #421;
}

.forum-category-box table td {
	border: 1px solid #985;
}

.forum-category-box table td.name .description {
	color: #985;
}

.forum-thread-box .description-block {
	border: 1px dashed #985;
	background-color: #421;
	box-shadow: none;
}

.forum-thread-box .description-block .head {
	color: #985;
}

.forum-thread-box .description-block .statistics {
	color: #985;
}

.thread-container .post .long .changes {
	color: #985;
}

.thread-container .post .long .changes a {
	color: #888;
}

.thread-container .post .options a {
	color: #888;
}

.thread-container .post .long .revisions table tr td {
	background-color: #421;
	border: dashed 1px #985;
}

.thread-container .post .long .revisions table tr.active td {
	background-color: #421;
	border: dashed 1px #985;
}

/* Modal Window */

.owindow {
	background-color: #421;
	border: 1px solid #985;
}

.owindow .title {
	background-color: #421;
}

.owindow .button-bar a {
	background-color: #421;
	color: #888;
	border: 1px solid #888;
}

.owindow .button-bar a:hover {
	background-color: #421;
	color: #888;
	text-decoration: underline;
}