@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fontlibrary.org/face/junction');

	body
  {
    font-family: "Fira Sans", "DejaVu Sans Condensed", verdana, arial, helvetica, sans-serif !important;
  }
  
    #page-title
  {
    font-family: "Junction", "Fira Sans", "DejaVu Sans Condensed", verdana, arial, helvetica, sans-serif !important;
  }