@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

body {
font-family: 'IM Fell English SC', serif;
font-size: medium;
}

p {
font-family: 'IM Fell English SC', serif;
font-size: large;
}

select {
	font-family: 'IM Fell English SC', serif;
}

input {
	font-family: 'IM Fell English SC', serif;
}

#header h1 a {
	font-family: 'IM Fell English SC', serif;
}
	
#header h2 span {
	font-family: 'IM Fell English SC', serif;
}

#search-top-box-input {
	font-family: 'IM Fell English SC', serif;
}

#search-top-box-input:hover,
#search-top-box-input:focus {
	font-family: 'IM Fell English SC', serif;
}

#search-top-box-form input[type=submit] {
	font-family: 'IM Fell English SC', serif;
}

.interwiki__title {
	font-family: 'IM Fell English SC', serif;
}

.interwiki__entry a, .interwiki__entry a:visited {
	font-family: 'IM Fell English SC', serif;
}